*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}
.header-container{
    display: flex;
    background-color: #120323;
    color: #97bf04;
    padding: 50px;
    justify-content: center;
    text-align: center;
    height: 20vh;
    align-items: center;
}

.header-container img {
   margin-right: 10px;
   max-width: 300px;
   height: 15vh;
}
#container{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 10px;
}

#container p{
    font-size: 12px;
}
#container h2, p{
    width: 1000spx;
}

#container img{
    border: 5px #d9043d solid;
    max-width: 320px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

aside{
    background-color: #97bf04;
    padding: 10px;
    padding-bottom: 30px;
    width:350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-wrap: break-word;
    margin-block-start: 10px;
}

aside p{
    margin: 0;
    width: 290px;
    font-size: 12px;
}

footer{
    background-color: #d9043d;
    padding: 20px;
    color: white;
    text-align: center;
    width: 100%;
}


/*Responsive Sheet*/
@media screen/*type*/ and (max-width:1000px){
    #container img{
        max-width: 300px;
    }
    #container{
        flex-direction: column;
    }
    #container p{
        margin-right: 20px;
    }
    aside{
        width: 100%;
        margin-block-start: 5%;
        padding-bottom: 5%;
    }
    aside p{
        width: 100%;
    }
}

@media screen/*type*/ and (max-width: 768px){
    .header-container{
        flex-direction: column;
        align-items: center;
        padding-top: 5%;
    }
    .header-container img{
        max-width: 80px;
    }
    #container{
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }
    #container img{
        display: block;
        width: 100%;
        max-width: 550px;
        margin: 10px auto 20px;
        float: none;
    }
    #container p{
        margin-right: 0;
        margin-left: 0;
        padding: 0 10px;
    }
    figcaption{
        margin: 20px;
    }
    aside{
        margin-top: 3%;
        width: 100%;
    }
}